common-heights()
	height: 200px

div.vertical-two-side-navigator
	border: solid #23ff89
	common-heights: x

div.some-button
	width: 40px
	common-heights: x
	background: #aaaaaa

.left-side-button
	font-size: 20px
	color: #3388ff
	float: left

.right-side-button
	color: #ff8833
	float: right