div.floating-menu
    position: fixed

div.floating-menu a, div.floating-menu table
    display: block

div.centered-menu
    margin-left: 30%
    margin-right: 30%
    background: orange
    position: fixed

div.right-menu
    margin-right: 100px
    margin-top: 100px
    background: purple
    height: 400px
    width: 15%
    float: right

div.left-menu
    margin-left: 100px
    margin-top: 100px
    background: pink
    height: 500px
    width: 15%
    float: left

div.right-menu a, div.left-menu 
    font-size: 20px
    display: block

a.menuButton
    margin: 5px 10px 5px 10px